body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eaf9ff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}

.popUp {
    display: flex;
    flex-direction: column;
        margin-top: 1%;
    width: 90%;
    height: 90%;
    border-radius: 6px;
    box-shadow: 
    10px 10px 20px rgb(0, 0, 0,0.7),
    -10px -10px 30px rgba(255,255,255,0.4);
    background-color: #003F88;
    opacity: 1;
    background: radial-gradient(circle, transparent 20%, #003F88 20%, #003F88 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #003F88 20%, #003F88 80%, transparent 80%, transparent) 15px 15px, linear-gradient(#ffc800 1.2000000000000002px, transparent 1.2000000000000002px) 0 -0.6000000000000001px, linear-gradient(90deg, #FDC500 1.2000000000000002px, #003F88 1.2000000000000002px) -0.6000000000000001px 0;
    background-size: 30px 30px, 30px 30px, 15px 15px, 15px 15px;
}

#cale-pyt {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(6px);
    width: 95%;
    align-items: center;
    justify-content: center;
    height: max-content;
    border-radius: 3vh;
    box-shadow: 
    inset 10px 10px 20px rgb(0, 0, 0,0.4),
    inset -10px -10px 20px rgba(255,255,255,0.4),
    10px 10px 10px rgb(0, 0, 0,0.4);;
    padding-left: 0.2vh;
    padding-right: 0.2vh;
}

h1 {
    color: #ffffff;
    font-size: 8vh;
    border-bottom: 4px solid #FDC500;
    padding: 10px;
}

#pytanie-tresc {
    margin-left: 0.5vh;
    margin-right: 0.5vh;
    margin-bottom: 2vh;
    color: #ffffff;
    font-size: 6.5vh;
    text-align: center;
    line-height: 1.3;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal
}

#pytanie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#answer-form {
    margin-top: 2vh;
    width: 95%;
    height: 100%;
    margin-bottom: 2vh;
}

.true-false-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Adjust as needed */
    
}

.true-false-buttons button {
    margin: 0 5px;
    flex-grow: 1; /* Distribute available space equally between buttons */
    font-size: 7vh;
    height: 30vh;
    box-shadow: 
    inset 10px 10px 10px rgb(0, 0, 0,0.3),
    inset -10px -10px 10px rgba(255,255,255,0.3),
    10px 10px 10px rgb(0, 0, 0,0.4);
}

.option-button {
    font-size: 5vh; /* Adjust the font size as needed */
    height: 15vh;
    box-shadow: 
    inset 10px 10px 10px rgb(0, 0, 0,0.3),
    inset -10px -10px 10px rgba(255,255,255,0.3),
    10px 10px 10px rgb(0, 0, 0,0.4);
}

#plansza {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 850px;
    background-color: #034078;
    /* background-image: url('your-image-url.jpg'); */
    background-size: cover; /* Adjust to cover the entire div */
    background-position: center; /* Center the background image */
    border: 1px solid black; /* Example border */
    border-radius: 10px; /* Example border radius */
    z-index: -9999;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.685);
}
